@font-face {
	font-family: "Ardakaniz";
	src: url("fonts/Ardakaniz.ttf");
}

@font-face {
	font-family: "Monaspace Xenon";
	src: url("fonts/MonaspaceXenon-Regular.woff");
}

body {
	background-color: #433160;
	color: white;
	font-family: "Monaspace Xenon";
	margin: 2.5% 5%;
}

h1, h5 {
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 25pt;
}
h5 {
	font-size: 8pt;
}

a {
	color: #9a78d0;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

#about {
	width: 256px;
	height: 256px;
	padding: 10px;
	font-size: 9pt;
	overflow-y: scroll;
	scrollbar-color: #b1a5c5 #433160;
	scrollbar-width: thin;
}
#about > p {
	margin: 10px 0;
}

#play, #play::before {
	font-family: "Monaspace Xenon";
	font-size: 15pt;
	text-align: left;
	padding-left: 10px;
	color: #0D0628;
	cursor: pointer;
	width: 256px;
}

strong {
	color: #9a78d0;
	font-weight: normal; 
}
em {
	color: #b1a5c5;
	font-style: normal;
}

.discrete-a {
	color: white;
}

canvas { 
	width: 256px;
	height: 256px;
	transition: box-shadow 0.3s ease, border-color 0.3s ease;
	display: block;
}

.pixelated {
	image-rendering: pixelated;
}

.label {
	font-family: "Ardakaniz";
	font-size: 25pt;
	display: block;
	padding: 5px;
	color: black;
}
.grid-item>.label::before {
	content: "▶ ";
	font-size: 15pt;
	color: #433160;
}
.activable {
	cursor: pointer;
}
.activable>canvas:hover {
	box-shadow: 0 0 15px #0D0628AA, 0 0 30px rgba(200, 200, 200, 0.4);
}
.activable>.label {
	cursor: pointer;
	text-decoration: underline;
}
.enabled>.label, .activable>.label::before, .activated>.label::before {
	color: white;
}
.activable>.label:hover, .activable>.label:hover::before {
	color: #b1a5c5;
}

.grid-wrapper {
	display: flex;
	justify-content: center;
}

.grid-container {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, 276px);
	max-width: 100%;
}

.grid-item {
	margin: 10px;
}